[submodule "pack/vendor/opt/vimcdoc"]
	path = pack/vendor/opt/vimcdoc
	url = https://github.com/yianwillis/vimcdoc.git
[submodule "pack/vendor/opt/vim-airline-themes"]
	path = pack/vendor/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/vendor/opt/vim-airline"]
	path = pack/vendor/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/vendor/opt/indentLine"]
	path = pack/vendor/opt/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/vendor/opt/vim-rainbow"]
	path = pack/vendor/opt/vim-rainbow
	url = https://github.com/frazrepo/vim-rainbow.git
