[submodule "pack/vendor/opt/vimcdoc"]
	path = pack/vendor/opt/vimcdoc
	url = https://github.com/yianwillis/vimcdoc.git
[submodule "pack/vendor/opt/vim-airline-themes"]
	path = pack/vendor/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/vendor/opt/vim-airline"]
	path = pack/vendor/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/vendor/opt/indentLine"]
	path = pack/vendor/opt/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/vendor/opt/vim-rainbow"]
	path = pack/vendor/opt/vim-rainbow
	url = https://github.com/frazrepo/vim-rainbow.git
[submodule "pack/vendor/opt/vim-surround"]
	path = pack/vendor/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/vendor/opt/Trinity"]
	path = pack/vendor/opt/Trinity
	url = https://github.com/WeiWangnudt/Trinity.git
[submodule "pack/vendor/opt/nerdtree"]
	path = pack/vendor/opt/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/vendor/opt/taglist"]
	path = pack/vendor/opt/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "pack/vendor/SrcExpl"]
	path = pack/vendor/SrcExpl
	url = https://github.com/vim-scripts/SrcExpl.git
[submodule "pack/vendor/opt/bufexplorer"]
	path = pack/vendor/opt/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "pack/vendor/opt/neocomplcache"]
	path = pack/vendor/opt/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "pack/vendor/opt/neosnippet-snippets"]
	path = pack/vendor/opt/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule "pack/vendor/opt/neosnippet"]
	path = pack/vendor/opt/neosnippet
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "pack/vendor/opt/tlib_vim"]
	path = pack/vendor/opt/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "pack/vendor/opt/vim-addon-mw-utils"]
	path = pack/vendor/opt/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
